<p id="notice"><%= notice %></p>

<h1 id="header">Claims</h1>

<table id="customers">
  <thead>
    <tr>
      <th>Product_ID</th>
      <th>Product_Name</th>
      <th>Bid_Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @claims.each do |claim| %>
      <%#next line checks if current user is the one who has claimed the product or not, if yes then display, else move on%>
      <%if claim.user_id==current_user.id%>
        <tr>
          <td><%= claim.c_product_id %></td>
          <td><%= claim.c_product_name %></td>
          <td><%= claim.c_bid_forproduct %></td>
          <td><%= link_to 'Show', claim %></td>
        </tr>
      <% end %>  
    <% end %>
  </tbody>
</table>

<br>


