 
<%= form_with(model: product, local: true) do |form|%>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div style="width:400px; margin:0 auto;", class="form">
  
    <div style="visibility: hidden">
      <%= form.label :product_user_id %>
      <%= form.number_field :product_user_id ,:value => current_user.id %>
    </div>
  
    <div class="field1">
      <%= form.label :image %>
      <%= form.file_field :image %>
    </div>

    <div class="field1">
      <%= form.label :name %>
      <%= form.text_field :name, :class=>"field",placeholder: "Product Name" %>
    </div>

    <div class="field1">
      <%= form.label :description %>
      <%= form.text_area :description, :class=>"field",placeholder: "Product Description" %>
    </div>

    <div class="field1">
      <%= form.label :starting_bid %>
      <%= form.number_field :starting_bid, :class=>"field", placeholder: "Starting Bid" %>
    </div>

    <div class="field1">
      <%= form.label :deadline %>
      <%= form.date_select :deadline%>
    </div>

    <div class="field1">
      <%= form.label :contact %>
      <%= form.number_field :contact, :class=>"field", placeholder: "User Contact" %>
    </div>
    
  <div class="actions">
    <div align="right", style="width: 250%;"><%= link_to 'Back', products_path %></div>
      <%= form.submit %>
    </div>
  </div>
<% end %>